<div class="cards-container-wrap">
  <h3 class="cards-title-container-wrap">
    <div class="container"><%= title %></div>
  </h3>
  <div class="cards-content-container-wrap">
    <div class="container">
      <ul class="cards-content">
      <% items.slice(0, 7).forEach(item => { %>
        <li class="card-wrap">
          <a class="card" href="<%= url_for(item.path) %>">
            <h4 class="card-title"><%= item.title %></h4>
            <% if (item.excerpt) { %>
              <%= item.excerpt %>
            <% } else { %>
              <% var br = item.content.indexOf('\n') %>
            	<% if(br === -1) { %>
            	  <%- item.content %>
            	<% } else { %>
            	  <%- item.content.substring(0, br) %>
              <% } %>
            <% } %>
          </a>
        </li>
      <% }); %>
      <li class="card-wrap">
        <a class="card" href="<%= url_for(page.lang + '/new') %>">
          <h4 class="card-title">&#8195;</h4>
          <p class="card-read-more"><%= __('more') %></p>
        </a>
      </li>
      </ul>
    </div>
  </div>
</div>
